<div class="booyah-box col-10 offset-1">
  <h1> Edit Your Gram </h1>
  <%= simple_form_for @gram do |f| %>
    <%= f.input :message %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>